._demo--container
  a.wordmark(href='http://www.ibm.com/watson/developercloud/')
    span.wordmark--left IBM
    span.wordmark--right Watson Developer Cloud

            a.base--a(href='https://visual-recognition-tooling.mybluemix.net') Visual Recognition Tool
